/*
|--- Bannière ---|
*/
.ObjetBandeauEspace { /*Couleur Bannière*/
  background-color: #151515 !important;
  align-items: flex-start !important;
  padding-bottom: 53px;
}

.ObjetBandeauEspace .evitement { /*Ajouts ennuyeux au rafraîchissement de page*/
  display: none !important;
}

/*Logo Omnes Education --> EvangelionLogo2*/
.ibe_image_etab img { /*Supprimer le logo Omnes Education*/
  display :none !important;
}

.ibe_image_etab { /*Ajouter le logo Evangelion*/
  margin-left: 5px;
  margin-top: 10px;
  width: 350px;
  height: 120%;
  background-image: url("https://raw.githubusercontent.com/OthonIV/Evangelion-Mod-1/main/Images/OmnesEducation/EvangelionLogo2.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left bottom;
  pointer-events: none;
  z-index: 1;
}

/*Photo de profil --> Shinji pdp*/
.ibe_util_photo img { /*Supprimer la photo de profil par défaut*/
  display: none !important;
}

.ibe_util_photo { /*Ajouter la photo de profil Shinji*/
  background-image: url("https://raw.githubusercontent.com/OthonIV/Evangelion-Mod-1/main/Images/OmnesEducation/Shinji%20pdp.jpg");
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: bottom !important;
  vertical-align: middle !important;
  border: 1px solid #FCD801 !important;
}

/*Couleur Texte Bannière*/
.ibe_etab { /*Nom de l'établissement*/
  font-weight: bold;
  background: linear-gradient(90deg, #FCD801,#F04A1A);
  background-clip: text;
  color: transparent;
}

.ibe_util_texte { /*Nom de l'utilisateur*/
  font-weight: bold;
  background: linear-gradient(90deg, #FCD801,#F04A1A);
  background-clip: text;
  color: transparent;
}

/*Couleur Icônes: QR Code & Off*/
.icon_qr_code {
  color: #F04A1A !important;
}
.icon_off {
  color: #F04A1A !important;
}

/*Qualité Logo Hyperplanning*/
.ibe_logo_image { /*Supprimer le logo Hyperplanning par défaut*/
  background-image: none !important;
}

.ibe_logo_image::before { /*Ajouter le logo Hyperplanning de meilleure qualité + Gradient*/
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: linear-gradient(90deg,#F04A1A,#a9161b);

  mask-image: url("https://raw.githubusercontent.com/OthonIV/Evangelion-Mod-1/main/Images/OmnesEducation/Logo%20Hyperplanning.svg");
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
}


/*
|--- Bandeau Entete Menu ---|
*/
.objetBandeauEntete_menu { /*Couleur du bandeau*/
  background-color: #0e0e0e !important;
}

.item-menu_niveau0.focused-in, .item-menu_niveau0.item-selected { /*Couleur du bandeau sélectionné*/
  background: #0e0e0e !important;
}

/*Éléments du menu*/
.item-menu_niveau0.item-selected .label-menu_niveau0 { /*Gradient sur l'élément du menu sélectionné*/
  background: linear-gradient(65deg, #f1ea22, #e64be1, #f24c4c, #e7901d, #d431ed);
  background-size: 400% 400%;
  animation: aniGradient 8s ease-in-out infinite;
  border-radius: 8px;
  border-color: #FCD801 !important; /*Couleur de la bandelette*/
}
@keyframes aniGradient {
  0%   { background-position: 0% 50%; }
  50%  { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.item-menu_niveau0.focused-in .label-menu_niveau0, .item-menu_niveau0.is-collapse:hover .label-menu_niveau0, .item-menu_niveau0:hover, .item-menu_niveau0.item-selected { /*Gradient sur l'élément du menu au passage du curseur*/
  background-color: #1f1d1c !important;
  border-radius: 4px !important;
  border-color: #FCD801 !important; /*Couleur de la bandelette*/
  color: #ffffff !important;
}

/*Menu déroulant*/
.submenu-wrapper { /*Menu déroulant transparent*/
  background: rgba(255, 255, 255, 0.12) !important;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}

.item-menu_niveau1.menuitem-niveau.focused-in { /*Éléments du Menu déroulant au passage du curseur*/
  background: rgba(255, 255, 255, 0.24) !important;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}

.item-menu_niveau1.menuitem-niveau .label-submenu { /*Couleur texte*/
  color: #ffffff !important;
}

/*Icones bandeau entete menu*/
.bcne_compteur_aide { /*Couleur texte compteur d'"Aide"*/
  color: #a9161b !important;
  border: 1px solid #a9161b !important;
}


/*
|--- Bandeau Entete Second Menu ---|
*/
.objetBandeauEntete_secondmenu { /*Couleur du bandeau*/
  background-color: #1f1d1c !important;
}

/*Éléments du second menu*/
.objetBandeauEntete_secondmenu .item-menu_niveau1.menuitem-niveau.selected { /*Couleurs de l'élément sélectionné*/
  background: linear-gradient(65deg, #f1ea22, #e64be1, #f24c4c, #e7901d, #d431ed);
  background-size: 400% 400%;
  animation: aniGradient 8s ease-in-out infinite;
  border-radius: 8px;
  border-left: #fcb501 4px solid !important; /*Couleur de la bandelette*/
  border-color: #fcb501 !important; /*Couleur de la bandelette*/
}
@keyframes aniGradient {
  0%   { background-position: 0% 50%; }
  50%  { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
.objetBandeauEntete_secondmenu .item-menu_niveau1.menuitem-niveau.selected:hover{ /*Couleurs de l'élément sélectionné au Hover*/
  border-radius: 4px;
  border-left: #fcb501 4px solid !important; /*Couleur de la bandelette*/
  border-color: #fcb501 !important; /*Couleur de la bandelette*/
}

.objetBandeauEntete_secondmenu .item-menu_niveau1.menuitem-niveau:hover { /*Couleurs de l'élément au Hover*/
  background-color: #282828 !important;
  border-radius: 4px !important;
  border-color: #fcb501 !important; /*Couleur de la bandelette*/
}

.label-menu-container::after { /*Couleur petite icone plus*/
  color: #ffffff !important;
  padding: 0.11rem 0.8rem !important;
}

/*Second menu déroulant*/
.menu-principal_niveau2 { /*Menu déroulant transparent*/
  background: rgba(255, 255, 255, 0.12) !important;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}
.item-menu_niveau2.menuitem-niveau:hover { /*Éléments du Menu déroulant au passage du curseur*/
  background: rgba(255, 255, 255, 0.24) !important;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}

.item-menu_niveau2.menuitem-niveau .label-submenu { /*Couleur texte*/
  color: #ffffff !important;
}

/*Icones*/
.icon_disquette_pleine.btn-bandeau.btnImageDisable.btnImage { /*Couleur icône sauvegarder*/
  color: #ddb559 !important;
}
.icon_ical.btn-bandeau.btnImage { /*Couleur icône .ical*/
  color: #dd9059 !important;
}
.icon_print.btn-bandeau.btnImageDisable.btnImage { /*Couleur icône imprimer*/
  color: #dd6f59 !important;
}
.icon_pdf.btn-bandeau.btnImage { /*Couleur icône PDF*/
  color: #dd6f59 !important;
}

/*
|--- Corps de page ---|
*/
[tabindex="-1"].AffichagePageAccueil.etudiants { /*Svg de fond*/
  position: relative; /* Essentiel pour positionner le ::before pseudo-élément */
  width: 200vh;
  height: 200vh;
  background-color: #151515 !important;
  background-image: url("https://raw.githubusercontent.com/OthonIV/Evangelion-Mod-1/main/Images/OmnesEducation/7Eyes%20Slim.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: relative;
  z-index: 1;
}


[tabindex="-1"].AffichagePageAccueil.etudiants::before { /*Gradient*/
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: linear-gradient(
    65deg,
    #ffaa00, #ff0000
  );
  animation: aniGradient 12s linear infinite;
  background-size: 500%;

  opacity: 1;
  z-index: 0;

  /* Masque SVG */
  mask-image: url("https://raw.githubusercontent.com/OthonIV/Evangelion-Mod-1/main/Images/OmnesEducation/7Eyes%20Slim.svg");
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: relative;
}

/* Animation du gradient */
@keyframes aniGradient {
  0%   { background-position: 0% 50%; }
  50%  { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}


/*
|--- Curseur ---|
*/
* {
  cursor: url("https://github.com/OthonIV/Evangelion-Mod-1/raw/main/Images/Cursor/Unit%2002%20%5Bnum%5D%20(normal%20select).cur"), default !important;
}