/*
|--- Widgets ---|
*/
.widget { /*Couleur de fond des widgets*/
  background-color: #140a0aed !important; 
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(6px);
  box-shadow: 1px 1px 8px 1px rgba(155, 155, 155, 0.2);
  color: #d3d3d3 !important;
}

.as-button.bt-widget.icon.icon_affichage_widget { /*Couleur icône "tout voir"*/
  background-color: #341a1a !important;
  color: #c3a6a6 !important;
  border: none !important;
}

.as-button.bt-widget.icon.icon_affichage_widget:hover { /*Couleur icône "tout voir" au Hover*/
  background-color: #c3a6a6 !important;
  color: #341a1a !important;
  border: none !important;
}

/*Agenda*/
.ocb-libelle.ie-ellipsis { /*Couleur texte du jour dans l'agenda*/
  color: #000000 !important;
}

.icon_angle_right.fix-bloc.icon.btnImageIcon.btnImage, .icon_angle_left.fix-bloc.icon.btnImageIcon.btnImage { /*Couleur icône "Suivant"*/
  background-color: #c91b21 !important;
}
.icon_angle_right.fix-bloc.icon.btnImageIcon.btnImage:hover, .icon_angle_left.fix-bloc.icon.btnImageIcon.btnImage:hover { /*Couleur icône "Suivant"*/
  background-color: #882d14 !important;
}

.ocb_cont.as-input.as-date-picker.ie-ripple { /*Bordure du jour*/
  border-color: #c91b21 !important;
  border-width: 2px !important;
}
.ocb_cont.as-input.as-date-picker.ie-ripple .ocb_bouton { /*Couleur petite icône calendrier*/
  color: #c91b21 !important;
}
.ocb_cont.as-input.as-date-picker.ie-ripple .ocb_bouton:hover { /*Couleur petite icône calendrier au Hover*/
  color: #882d14 !important;
}

.text-center.ie-titre-couleur-lowercase.m-y {/*Couleur texte Semaine*/
  color: #c91b21 !important; 
}

.flex-contain.en-cours{ /*Fond de l'heure en cours relevé*/
  background: rgba(148, 148, 148, 0.135) !important;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(6px);
  box-shadow: 1px 1px 8px 1px rgba(155, 155, 155, 0.2);
}

.icon_contenu_cours.avecFond.btnImage { /*Couleur icône "Contenu Pédagogique"*/
  background-color: #c91b21 !important;
  color: #ffffff !important;
}
.icon_contenu_cours.avecFond.btnImage:hover { /*Couleur icône "Contenu Pédagogique" au Hover*/
  background-color: #882d14 !important;
  color: #ffffff !important;
}

.widget.ThemeCat-edt.edt.collapsible .content-container.overflow-auto::after { /*Couleur dessin*/
  color: #d25858 !important; 
}

/*Travail à faire*/
.widget.ThemeCat-pedagogie.taf.collapsible .clickable { /*Couleur texte en-tête*/
  color: #e7901d !important;
  font-weight: bold !important;
}
.widget.ThemeCat-pedagogie.taf.collapsible .clickable:hover { /*Couleur texte en-tête au Hover*/
  color: #a06519 !important;
}
.widget.ThemeCat-pedagogie.taf.collapsible .no-events p { /*Couleur texte "Aucun travail à faire" du dessous*/
  color: #a06519 !important;
}
.widget.ThemeCat-pedagogie.taf.collapsible .content-container.overflow-auto::after { /*Couleur dessin*/
  color: #ffc77d !important; 
}

/*Dernières ressources pédagogiques*/
.widget.ThemeCat-pedagogie.ressourcespedagogiques.collapsible .clickable.ie-ellipsis { /*Couleur texte en-tête*/
  color: #935ec7 !important;
  font-weight: bold !important;
}
.widget.ThemeCat-pedagogie.ressourcespedagogiques.collapsible .clickable.ie-ellipsis:hover { /*Couleur texte en-tête au Hover*/
  color: #4a1b7f !important;
}
.widget.ThemeCat-pedagogie.ressourcespedagogiques.collapsible .no-events p { /*Couleur texte "Aucune ressource pédagogique"*/
  color: #4a1b7f !important;
}
.widget.ThemeCat-pedagogie.ressourcespedagogiques.collapsible .content-container.overflow-auto::after { /*Couleur dessin*/
  color: #bb83ff !important;
}

/*Assiduité*/
.widget.ThemeCat-viescolaire.absences.collapsible .clickable { /*Couleur texte en-tête*/
  color: #ca4520 !important;
  font-weight: bold !important;
}
.widget.ThemeCat-viescolaire.absences.collapsible .clickable:hover { /*Couleur texte en-tête au Hover*/
  color: #A13213 !important;
}
.widget.ThemeCat-viescolaire.absences.collapsible .no-events p { /*Couleur texte "Aucune nouvel évènement"*/
  color: #A13213 !important;
}
.widget.ThemeCat-viescolaire.absences.collapsible .content-container.overflow-auto::after { /*Couleur dessin*/
  color: #d25544 !important; 
}

/*Informations & Sondages*/
.widget.ThemeCat-communication.actualites.collapsible .clickable { /*Couleur texte en-tête*/
  color: #049d65 !important;
  font-weight: bold !important;
}
.widget.ThemeCat-communication.actualites.collapsible .clickable:hover { /*Couleur texte en-tête au Hover*/
  color: #005734 !important;
}
.widget.ThemeCat-communication.actualites.collapsible .no-events p { /*Couleur texte "Aucune nouvelle information"*/
  color: #005734 !important;
}
.widget.ThemeCat-communication.actualites.collapsible .content-container.overflow-auto::after { /*Couleur dessin*/
  color: #3ad9a1 !important; 
}

/*Enseignements par matière*/
.widget.ThemeCat-viescolaire.cursusetudiant.collapsible .clickable.ie-ellipsis { /*Couleur texte en-tête*/
  color: #ca4520 !important;
  font-weight: bold !important;
}
.widget.ThemeCat-viescolaire.cursusetudiant.collapsible .clickable.ie-ellipsis:hover { /*Couleur texte en-tête au Hover*/
  color: #A13213 !important;
}

.widget.ThemeCat-viescolaire.cursusetudiant.collapsible .ocb_cont.as-input.as-select.ie-ripple { /*Couleur bordure de "Année complète"*/
  border: solid 1px #ca4520 !important; 
}
.widget.ThemeCat-viescolaire.cursusetudiant.collapsible .ocb_cont.as-input.as-select.ie-ripple .ocb_bouton { /*Couleur icône à droite de "Année complète"*/
  color: #A13213 !important;
}
.widget.ThemeCat-viescolaire.cursusetudiant.collapsible .ocb_cont.as-input.as-select.ie-ripple .ocb_bouton:hover{ /*Couleur icône à droite de "Année complète" au Hover*/
  color: #882d14 !important;
}

.ProgressionCercle { /*Couleur du cercle de progression inachevé*/
  background-color: transparent !important;
}

.ProgressionCercle_firstClip, .ProgressionCercle_lastClip { /*Couleur cercle de progression achevé*/
  background-color: #b64642 !important;
  border-color: #b64642 !important;
}

.ProgressionCercle:hover { /*Couleur bordure du cercle de progression*/
  box-shadow: 0px 0px 10px 2px #A13213 !important;
}

.ProgressionCercle_libelle { /*Couleur intérieure du cercle de progression*/
  background-color: #1f1d1c !important;
  color: #d3d3d3 !important;
}

.ie-ellipsis { /*Couleur textes heures totales de cours*/
  color: #d3d3d3 !important;
}

.liste-matieres li { /*Couleur bordures au dessus des matières*/
  border-top: solid 1px #ca4520 !important;
}

.widget.ThemeCat-viescolaire.cursusetudiant.collapsible .content-container.overflow-auto::after { /*Couleur dessin*/
  color: #A13213 !important; 
}

/*
|--- Agenda fenêtres ---|
*/

/*Fenêtre "Choisir un jour"*/
.BloquerInterface.NePasImprimer.SansSelectionTexte.VoileOpaque50 { /*Blocage fond de fenêtre*/
  background: rgb(53, 53, 53) !important;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.Fenetre_Cadre.ombre-cadre { /*Couleur de fond*/
  background-color: #140a0a !important; 
}
.ObjetFenetre_Espace .ombre-cadre { /*Couleur d'ombre*/
  box-shadow: 0px 0px 18px 8px rgba(172, 172, 172, 0.101) !important;
}

.ZoneDeplacementFenetre.ie-draggable-handle[id^="IE.Identite.collection"] { /*Couleur texte en-tête*/
  color: #ffffff !important;
  font-weight: bold !important;
}

.date.actif, .date { /*Couleur de fond & texte Calendrier*/
  background: #474747 !important;
  color: #ffffff !important;
  font-weight: bold !important;
}

.icon_angle_left.icon.btnImageIcon.btnImage, .icon_angle_right.icon.btnImageIcon.btnImage {/*Couleur icônes "Précédent" & "Suivant"*/
  background-color: #ca4520 !important;
  color: #ffffff !important;
}
.icon_angle_left.icon.btnImageIcon.btnImage:hover, .icon_angle_right.icon.btnImageIcon.btnImage:hover {/*Couleur icônes "Précédent" & "Suivant" au Hover*/
  background-color: #A13213 !important;
  color: #ffffff !important;
}

.date:hover [id^="IE.Identite.collection"] { /*Date au Hover*/
  background: #A13213 !important;
  border-radius: 5px !important;
}

.date.actif.selected-date [id^="IE.Identite.collection"] { /*Couleur bordure & texte de la date active*/
  border-color: #A13213 !important;
  border-radius: 5px !important;
  color: #A13213 !important;
  font-weight: bold !important;
}
.date.actif.current-month.current-date.selected-date [id^="IE.Identite.collection"] > div > div { /*Couleur rond de la date active*/
  background-color: #ffffff !important;
}

.themeBoutonSecondaire.ieBouton.ie-ripple.NoWrap.ieBoutonDefautSansImage { /*Buton Fermer*/
  background-color: #A13213 !important;
  border-color: #ffffff !important;
  border-width: 2px !important;
  color: #ffffff !important;
}
.themeBoutonSecondaire.ieBouton.ie-ripple.NoWrap.ieBoutonDefautSansImage:hover { /*Buton Fermer au Hover*/
  background-color: #ffffff !important;
  background-position: center !important;
  border-color: #A13213 !important;
  border-width: 2px !important;
  color: #A13213 !important;
}

.Fenetre_Titre.NePasImprimer .cta-conteneur { /*Supprime le bouton "Fermer / X" inutile*/
  display: none !important; 
}

/*Fenêtre "Détail du jour"*/
.Fenetre_Cadre.ombre-cadre { /*Couleur de fond */
  background-color: #140a0a !important;
}
.DivBloc.MargeGaucheBloc { /*Couleur de fond du contenu*/
  background-color: #1F1C1D !important; 
}
.UtilitaireBloc_itemInverse > div, .EspaceHaut { /*Couleur texte*/
  color: #d3d3d3 !important;
}


/*
|--- Themes ---|
*/

.ThemeBleu, body:not(.ThemeAccessible) .ThemeProduitEDT,
body:not(.ThemeAccessible) .ThemeEDT,
body:not(.ThemeAccessible) .ThemeCat-viescolaire {
  --theme-moyen1: #151515 !important; /*Contours pointillets énervants au rafraîchissement de page*/
}