/*
|--- Bannière ---|
*/
.ObjetBandeauEspace { /*Couleur Bannière*/
  background-color: #151515 !important;
  align-items: flex-start !important;
  padding-bottom: 53px;
}

.ObjetBandeauEspace .evitement { /*Ajouts ennuyeux au rafraîchissement de page*/
  display: none !important;
}

/*Logo Omnes Education --> EvangelionLogo2*/
.ibe_image_etab img { /*Supprimer le logo Omnes Education*/
  display :none !important;
}

.ibe_image_etab { /*Ajouter le logo Evangelion*/
  margin-left: 5px;
  margin-top: 10px;
  width: 350px;
  height: 120%;
  background-image: url("https://raw.githubusercontent.com/OthonIV/Evangelion-Mod-1/main/Images/OmnesEducation/EvangelionLogo2.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left bottom;
  pointer-events: none;
  z-index: 1;
}

/*Photo de profil --> Shinji pdp*/
.ibe_util_photo img { /*Supprimer la photo de profil par défaut*/
  display: none !important;
}

.ibe_util_photo { /*Ajouter la photo de profil Shinji*/
  background-image: url("https://raw.githubusercontent.com/OthonIV/Evangelion-Mod-1/main/Images/OmnesEducation/Shinji%20pdp.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left bottom;
  border: 1px solid #FCD801 !important;
}

/*Couleur Texte Bannière*/
.ibe_etab { /*Nom de l'établissement*/
  font-weight: bold;
  background: linear-gradient(90deg, #FCD801,#F04A1A);
  background-clip: text;
  color: transparent;
}

.ibe_util_texte { /*Nom de l'utilisateur*/
  font-weight: bold;
  background: linear-gradient(90deg, #FCD801,#F04A1A);
  background-clip: text;
  color: transparent;
}

/*Couleur Icônes: QR Code & Off*/
.icon_qr_code {
  color: #F04A1A !important;
}
.icon_off {
  color: #F04A1A !important;
}

/*Qualité Logo Hyperplanning*/
.ibe_logo_image { /*Supprimer le logo Hyperplanning par défaut*/
  background-image: none !important;
}

.ibe_logo_image::before { /*Ajouter le logo Hyperplanning de meilleure qualité + Gradient*/
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: linear-gradient(90deg,#F04A1A,#a9161b);

  mask-image: url("https://raw.githubusercontent.com/OthonIV/Evangelion-Mod-1/main/Images/OmnesEducation/Logo%20Hyperplanning.svg");
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
}


/*
|--- Bandeau Entete Menu ---|
*/
.objetBandeauEntete_menu { /*Couleur du bandeau*/
  background-color: #0e0e0e !important;
}

.item-menu_niveau0.focused-in, .item-menu_niveau0.item-selected { /*Couleur du bandeau sélectionné*/
  background: #0e0e0e !important;
}

/*Éléments du menu*/
.item-menu_niveau0.item-selected .label-menu_niveau0 { /*Gradient sur l'élément du menu sélectionné*/
  background: linear-gradient(65deg, #f1ea22, #e64be1, #f24c4c, #e7901d, #d431ed);
  background-size: 400% 400%;
  animation: aniGradient 8s ease-in-out infinite;
  border-radius: 7px;
  border-color: #FCD801 !important; /*Couleur de la bandelette*/
}
@keyframes aniGradient {
  0%   { background-position: 0% 50%; }
  50%  { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.item-menu_niveau0.focused-in .label-menu_niveau0, .item-menu_niveau0.is-collapse:hover .label-menu_niveau0, .item-menu_niveau0:hover, .item-menu_niveau0.item-selected { /*Gradient sur l'élément du menu au passage du curseur*/
  background-color: #1f1d1c !important;
  border-radius: 4px !important;
  border-color: #FCD801 !important; /*Couleur de la bandelette*/
  color: #ffffff !important;
}

/*Menu déroulant*/
.submenu-wrapper { /*Menu déroulant transparent*/
  background: rgba(255, 255, 255, 0.12) !important;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}

.item-menu_niveau1.menuitem-niveau.focused-in { /*Éléments du Menu déroulant au passage du curseur*/
  background: rgba(255, 255, 255, 0.24) !important;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}

.label-submenu { /*Couleur texte*/
  color: #ffffff !important;
}

.bcne_compteur_aide { /*Couleur texte compteur d'"Aide"*/
  color: #a9161b !important;
  border: 1px solid #a9161b !important;
}


/*
|--- Bandeau Entete Second Menu ---|
*/
.objetBandeauEntete_secondmenu { /*Couleur du bandeau*/
  background-color: #1f1d1c !important;
}

/*Couleurs de "Accueil"*/
.item-menu_niveau1.menuitem-niveau.has-submenu.is-member-accueil { /*Couleurs de "Accueil"*/
  background: transparent !important;
  border-radius: 8px;
  border-left: #fcb501 4px solid !important; /*Couleur de la bandelette*/
  border-color: #fcb501 !important; /*Couleur de la bandelette*/
}

.item-menu_niveau1.menuitem-niveau.has-submenu.is-member-accueil:hover { /*Couleurs de "Accueil" au Hover*/
  background: transparent !important;
  border-radius: 4px !important;
  border-left: #fcb501 4px solid !important; /*Couleur de la bandelette*/
  border-color: #fcb501 !important; /*Couleur de la bandelette*/
}

/*Icones*/
.icon_disquette_pleine.btn-bandeau.btnImageDisable.btnImage { /*Couleur icône sauvegarder*/
  color: #ddb559!important;
}
.icon_ical.btn-bandeau.btnImage { /*Couleur icône .ical*/
  color: #dd9059 !important;
}
.icon_print.btn-bandeau.btnImageDisable.btnImage { /*Couleur icône imprimer*/
  color: #dd6f59 !important;
}

/*
|--- Corps de page ---|
*/
[tabindex="-1"].AffichagePageAccueil.etudiants#GInterface\.Instances\[1\]_defaut_ { /*Svg de fond*/
  position: relative; /* Essentiel pour positionner le ::before pseudo-élément */
  width: 200vh;
  height: 200vh;
  background-color: #151515 !important;
  background-image: url("https://raw.githubusercontent.com/OthonIV/Evangelion-Mod-1/main/Images/OmnesEducation/7Eyes%20Slim.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: relative;
  z-index: 1;
}


[tabindex="-1"].AffichagePageAccueil.etudiants#GInterface\.Instances\[1\]_defaut_::before { /*Gradient*/
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: linear-gradient(
    65deg,
    #ffaa00, #ff0000
  );
  animation: aniGradient 12s linear infinite;
  background-size: 500%;

  opacity: 1;
  z-index: 0;

  /* Masque SVG */
  mask-image: url("https://raw.githubusercontent.com/OthonIV/Evangelion-Mod-1/main/Images/OmnesEducation/7Eyes%20Slim.svg");
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: relative;
}

/* Animation du gradient */
@keyframes aniGradient {
  0%   { background-position: 0% 50%; }
  50%  { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}


/*
|--- Widgets ---|
*/
.widget { /*Couleur de fond des widgets*/
  background-color: #140a0aed !important; 
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(6px);
  box-shadow: 1px 1px 8px 1px rgba(155, 155, 155, 0.2);
  color: #d3d3d3 !important;
}

.as-button.bt-widget.icon.icon_affichage_widget { /*Couleur icône "tout voir"*/
  background-color: #341a1a !important;
  color: #c3a6a6 !important;
  border: none !important;
}

.as-button.bt-widget.icon.icon_affichage_widget:hover { /*Couleur icône "tout voir" au Hover*/
  background-color: #c3a6a6 !important;
  color: #341a1a !important;
  border: none !important;
}

/*Agenda*/
.ocb-libelle.ie-ellipsis { /*Couleur texte du jour dans l'agenda*/
  color: #000000 !important;
}

.icon_angle_right.fix-bloc.icon.btnImageIcon.btnImage, .icon_angle_left.fix-bloc.icon.btnImageIcon.btnImage { /*Couleur icône "Suivant"*/
  background-color: #c91b21 !important;
}
.icon_angle_right.fix-bloc.icon.btnImageIcon.btnImage:hover, .icon_angle_left.fix-bloc.icon.btnImageIcon.btnImage:hover { /*Couleur icône "Suivant"*/
  background-color: #882d14 !important;
}

.ocb_cont.as-input.as-date-picker.ie-ripple { /*Bordure du jour*/
  border-color: #c91b21 !important;
  border-width: 2px !important;
}
.ocb_cont.as-input.as-date-picker.ie-ripple .ocb_bouton { /*Couleur petite icône calendrier*/
  color: #c91b21 !important;
}
.ocb_cont.as-input.as-date-picker.ie-ripple .ocb_bouton:hover { /*Couleur petite icône calendrier au Hover*/
  color: #882d14 !important;
}

.text-center.ie-titre-couleur-lowercase.m-y {/*Couleur texte Semaine*/
  color: #c91b21 !important; 
}

.flex-contain.en-cours{ /*Fond de l'heure en cours relevé*/
  background: rgba(148, 148, 148, 0.135) !important;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(6px);
  box-shadow: 1px 1px 8px 1px rgba(155, 155, 155, 0.2);
}

.icon_contenu_cours.avecFond.btnImage { /*Couleur icône "Contenu Pédagogique"*/
  background-color: #c91b21 !important;
  color: #ffffff !important;
}
.icon_contenu_cours.avecFond.btnImage:hover { /*Couleur icône "Contenu Pédagogique" au Hover*/
  background-color: #882d14 !important;
  color: #ffffff !important;
}

.widget.ThemeCat-edt.edt.collapsible .content-container.overflow-auto::after { /*Couleur dessin*/
  color: #d25858 !important; 
}

/*Travail à faire*/
.widget.ThemeCat-pedagogie.taf.collapsible .clickable { /*Couleur texte en-tête*/
  color: #e7901d !important;
  font-weight: bold !important;
}
.widget.ThemeCat-pedagogie.taf.collapsible .clickable:hover { /*Couleur texte en-tête au Hover*/
  color: #a06519 !important;
}
.widget.ThemeCat-pedagogie.taf.collapsible .no-events p { /*Couleur texte "Aucun travail à faire" du dessous*/
  color: #a06519 !important;
}
.widget.ThemeCat-pedagogie.taf.collapsible .content-container.overflow-auto::after { /*Couleur dessin*/
  color: #ffc77d !important; 
}

/*Dernières ressources pédagogiques*/
.widget.ThemeCat-pedagogie.ressourcespedagogiques.collapsible .clickable.ie-ellipsis { /*Couleur texte en-tête*/
  color: #935ec7 !important;
  font-weight: bold !important;
}
.widget.ThemeCat-pedagogie.ressourcespedagogiques.collapsible .clickable.ie-ellipsis:hover { /*Couleur texte en-tête au Hover*/
  color: #4a1b7f !important;
}
.widget.ThemeCat-pedagogie.ressourcespedagogiques.collapsible .no-events p { /*Couleur texte "Aucune ressource pédagogique"*/
  color: #4a1b7f !important;
}
.widget.ThemeCat-pedagogie.ressourcespedagogiques.collapsible .content-container.overflow-auto::after { /*Couleur dessin*/
  color: #bb83ff !important;
}

/*Assiduité*/
.widget.ThemeCat-viescolaire.absences.collapsible .clickable { /*Couleur texte en-tête*/
  color: #ca4520 !important;
  font-weight: bold !important;
}
.widget.ThemeCat-viescolaire.absences.collapsible .clickable:hover { /*Couleur texte en-tête au Hover*/
  color: #A13213 !important;
}
.widget.ThemeCat-viescolaire.absences.collapsible .no-events p { /*Couleur texte "Aucune nouvel évènement"*/
  color: #A13213 !important;
}
.widget.ThemeCat-viescolaire.absences.collapsible .content-container.overflow-auto::after { /*Couleur dessin*/
  color: #d25544 !important; 
}

/*Informations & Sondages*/
.widget.ThemeCat-communication.actualites.collapsible .clickable { /*Couleur texte en-tête*/
  color: #049d65 !important;
  font-weight: bold !important;
}
.widget.ThemeCat-communication.actualites.collapsible .clickable:hover { /*Couleur texte en-tête au Hover*/
  color: #005734 !important;
}
.widget.ThemeCat-communication.actualites.collapsible .no-events p { /*Couleur texte "Aucune nouvelle information"*/
  color: #005734 !important;
}
.widget.ThemeCat-communication.actualites.collapsible .content-container.overflow-auto::after { /*Couleur dessin*/
  color: #3ad9a1 !important; 
}

/*Enseignements par matière*/
.widget.ThemeCat-viescolaire.cursusetudiant.collapsible .clickable.ie-ellipsis { /*Couleur texte en-tête*/
  color: #ca4520 !important;
  font-weight: bold !important;
}
.widget.ThemeCat-viescolaire.cursusetudiant.collapsible .clickable.ie-ellipsis:hover { /*Couleur texte en-tête au Hover*/
  color: #A13213 !important;
}

.widget.ThemeCat-viescolaire.cursusetudiant.collapsible .ocb_cont.as-input.as-select.ie-ripple { /*Couleur bordure de "Année complète"*/
  border: solid 1px #ca4520 !important; 
}
.widget.ThemeCat-viescolaire.cursusetudiant.collapsible .ocb_cont.as-input.as-select.ie-ripple .ocb_bouton { /*Couleur icône à droite de "Année complète"*/
  color: #A13213 !important;
}
.widget.ThemeCat-viescolaire.cursusetudiant.collapsible .ocb_cont.as-input.as-select.ie-ripple .ocb_bouton:hover{ /*Couleur icône à droite de "Année complète" au Hover*/
  color: #882d14 !important;
}

.ProgressionCercle { /*Couleur du cercle de progression inachevé*/
  background-color: transparent !important;
}

.ProgressionCercle_firstClip, .ProgressionCercle_lastClip { /*Couleur cercle de progression achevé*/
  background-color: #b64642 !important;
  border-color: #b64642 !important;
}

.ProgressionCercle:hover { /*Couleur bordure du cercle de progression*/
  box-shadow: 0px 0px 10px 2px #A13213 !important;
}

.ProgressionCercle_libelle { /*Couleur intérieure du cercle de progression*/
  background-color: #1f1d1c !important;
  color: #d3d3d3 !important;
}

.ie-ellipsis { /*Couleur textes heures totales de cours*/
  color: #d3d3d3 !important;
}

.liste-matieres li { /*Couleur bordures au dessus des matières*/
  border-top: solid 1px #ca4520 !important;
}

.widget.ThemeCat-viescolaire.cursusetudiant.collapsible .content-container.overflow-auto::after { /*Couleur dessin*/
  color: #A13213 !important; 
}

/*
|--- Agenda fenêtres ---|
*/

/*Fenêtre "Choisir un jour"*/
.BloquerInterface.NePasImprimer.SansSelectionTexte.VoileOpaque50 { /*Blocage fond de fenêtre*/
  background: rgb(53, 53, 53) !important;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.Fenetre_Cadre.ombre-cadre { /*Couleur de fond*/
  background-color: #140a0a !important; 
}
.ObjetFenetre_Espace .ombre-cadre { /*Couleur d'ombre*/
  box-shadow: 0px 0px 18px 8px rgba(172, 172, 172, 0.101) !important;
}

.ZoneDeplacementFenetre.ie-draggable-handle[id^="IE.Identite.collection"] { /*Couleur texte en-tête*/
  color: #ffffff !important;
  font-weight: bold !important;
}

.date.actif, .date { /*Couleur de fond & texte Calendrier*/
  background: #474747 !important;
  color: #ffffff !important;
  font-weight: bold !important;
}

.icon_angle_left.icon.btnImageIcon.btnImage, .icon_angle_right.icon.btnImageIcon.btnImage {/*Couleur icônes "Précédent" & "Suivant"*/
  background-color: #ca4520 !important;
  color: #ffffff !important;
}
.icon_angle_left.icon.btnImageIcon.btnImage:hover, .icon_angle_right.icon.btnImageIcon.btnImage:hover {/*Couleur icônes "Précédent" & "Suivant" au Hover*/
  background-color: #A13213 !important;
  color: #ffffff !important;
}

.date:hover [id^="IE.Identite.collection"] { /*Date au Hover*/
  background: #A13213 !important;
  border-radius: 5px !important;
}

.date.actif.selected-date [id^="IE.Identite.collection"] { /*Couleur bordure & texte de la date active*/
  border-color: #A13213 !important;
  border-radius: 5px !important;
  color: #A13213 !important;
  font-weight: bold !important;
}
.date.actif.current-month.current-date.selected-date [id^="IE.Identite.collection"] > div > div { /*Couleur rond de la date active*/
  background-color: #ffffff !important;
}

.themeBoutonSecondaire.ieBouton.ie-ripple.NoWrap.ieBoutonDefautSansImage { /*Buton Fermer*/
  background-color: #A13213 !important;
  border-color: #ffffff !important;
  border-width: 2px !important;
  color: #ffffff !important;
}
.themeBoutonSecondaire.ieBouton.ie-ripple.NoWrap.ieBoutonDefautSansImage:hover { /*Buton Fermer au Hover*/
  background-color: #ffffff !important;
  background-position: center !important;
  border-color: #A13213 !important;
  border-width: 2px !important;
  color: #A13213 !important;
}

.Fenetre_Titre.NePasImprimer .cta-conteneur { /*Supprime le bouton "Fermer / X" inutile*/
  display: none !important; 
}

/*Fenêtre "Détail du jour"*/
.Fenetre_Cadre.ombre-cadre { /*Couleur de fond */
  background-color: #140a0a !important;
}

/*
|--- Themes ---|
*/

.ThemeBleu, body:not(.ThemeAccessible) .ThemeProduitEDT,
body:not(.ThemeAccessible) .ThemeEDT,
body:not(.ThemeAccessible) .ThemeCat-viescolaire {
  --theme-moyen1: #151515 !important; /*Contours pointillets énervants au rafraîchissement de page*/
}