/*
Logo Omnes Education --> EvangelionLogo2
*/
.ibe_image_etab img {
  display :none !important;
}

.ibe_image_etab {
  margin-left: 5px;
  margin-top: 10px;
  width: 350px;
  height: 120%;
  background-image: url("https://raw.githubusercontent.com/OthonIV/Evangelion-Mod-1/main/Images/OmnesEducation/EvangelionLogo2.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left bottom;
  pointer-events: none;
  z-index: 1;
}

/*
Photo de profil --> Shinji pdp
*/
.ibe_util_photo img {
  display: none !important;
}

.ibe_util_photo {
  background-image: url("https://raw.githubusercontent.com/OthonIV/Evangelion-Mod-1/main/Images/OmnesEducation/Shinji%20pdp.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left bottom;
  border: 1px solid #FCD801 !important;
}

/*
Couleur Bannière
*/
.ObjetBandeauEspace {
  background-color: var(--theme-neutre-light) !important;
  align-items: flex-start !important;
  padding-bottom: 53px;
}

/*
Couleur Texte
*/
.ibe_etab {
  font-weight: bold;
  background: linear-gradient(90deg, #FCD801,#F04A1A);
  background-clip: text;
  color: transparent;
}

.ibe_util_texte {
  font-weight: bold;
  background: linear-gradient(90deg, #FCD801,#F04A1A);
  background-clip: text;
  color: transparent;
}

/*
Couleur Icônes: QR Code & Off
*/
.icon_qr_code {
  color: #F04A1A !important;
}

.icon_off {
  color: #F04A1A !important;
}

/*
Qualité Logo Hyperplanning
*/
.ibe_logo_image {
  background-image: none !important;
}

.ibe_logo_image::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: linear-gradient(90deg,#F04A1A,#a9161b);

  mask-image: url("https://raw.githubusercontent.com/OthonIV/Evangelion-Mod-1/main/Images/OmnesEducation/Logo%20Hyperplanning.svg");
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
}

/*
Widgets
*/
.widget {
  background-color: #0e0e0e !important; 
  color: #d3d3d3 !important;
}

.ie-ellipsis { /*Textes heures totales de cours*/
  color: #ffeeb2 !important;
}

.clickable.ie-ellipsis { /*Exception pour du texte erreur "Dernières ressources pédagogiques"*/
  color: #4a1b7f !important;
}
.clickable.ie-ellipsis:hover { /*Exception pour du texte erreur "Dernières ressources pédagogiques" en Hover*/
  color: #935ec7 !important;
}

.ThemeTurquoise, /*Agenda - Boutons changement de jour*/
body:not(.ThemeAccessible) .ThemeCat-edt {
  --theme-claire: #e0aaaa !important;
  --theme-foncee: #A13213 !important;
  --theme-moyen1: #F04A1A !important;
}


/*
Theme
*/
:root {
  --theme-neutre-light: #151515 !important;
}