/*Logo Omnes Education*/
.ibe_image_etab img {
  display :none !important;
}

.ibe_image_etab {
  margin-left: 5px;
  margin-top: 10px;
  width: 275px;
  height: 90px;
  background-image: url("https://raw.githubusercontent.com/OthonIV/Evangelion-Mod-1/main/Images/OmnesEducation/EvangelionLogo2.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left bottom;
  z-index: 1;
}

/*Photo de profil*/
.ibe_util_photo img {
  display: none !important;
}

.ibe_util_photo {
  background-image: url("https://raw.githubusercontent.com/OthonIV/Evangelion-Mod-1/main/Images/OmnesEducation/Shinji%20pdp.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left bottom;
  border: 1px solid #FCD801 !important;
}

/*Bannière*/
.ObjetBandeauEspace {
  background-color: rgb(0, 0, 0) !important;
  align-items: flex-start !important;
  padding-bottom: 53px;
}

.ibe_etab {
  font-weight: bold;
  background: linear-gradient(90deg, #FCD801,#F04A1A);
  background-clip: text;
  color: transparent;
}

.ibe_util_texte {
  font-weight: bold;
  background: linear-gradient(90deg, #FCD801,#F04A1A);
  background-clip: text;
  color: transparent;
}

.icon_qr_code {
  color: #F04A1A !important;
}

.icon_off {
  color: #F04A1A !important;
}

.ibe_logo_image {
  background-image: url("https://www.index-education.com/contenu/img/commun/logo-hyperplanning.png") !important;
}