/* Suppression du logo YouTube */
ytd-topbar-logo-renderer #logo yt-icon {
  display: none !important;
}

/* Logo Asuka personnalise */
ytd-topbar-logo-renderer #logo {
  position: relative; /* necessaire pour que le ::after se positionne */
  width: 240px;
  height: 80px;
  background-image: url("https://raw.githubusercontent.com/OthonIV/Evangelion-Mod-1/refs/heads/main/Images/asuka%20reverse.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 25px 0px;
  z-index: 0;
}

/* Statique */
ytd-topbar-logo-renderer #logo::before {
  content: "";
  background: linear-gradient(
    45deg,
    #FF0000, #FF7300, #FFFB00, #48FF00,
    #00FFD5, #002BFF, #FF00C8, #FF0000
  );
  position: absolute;
  top: -8px;
  left: -8px;
  background-size: 110%;
  width: calc(100% + 16px);
  height: calc(100% + 16px);
  z-index: -1;
  pointer-events: none;
  filter: blur(12px);
  animation: glowing 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  
  /* Masque SVG */
  mask-image: url("https://raw.githubusercontent.com/OthonIV/Evangelion-Mod-1/refs/heads/main/Images/asuka%20reverse.svg"); /* mets ici le chemin réel vers ton SVG */
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;

  -webkit-mask-image: url("https://raw.githubusercontent.com/OthonIV/Evangelion-Mod-1/refs/heads/main/Images/asuka%20reverse.svg");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  -webkit-mask-position: center;
}

/* Animation du gradient */
@keyframes glowing {
  0%   { background-position: 0 0; }
  50%  { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

/* Activation au hover */
ytd-topbar-logo-renderer #logo:hover::before {
  opacity: 1;
}


/*-------------------------------------------------------------------------------------------------------------
  -------------------------------------------------------------------------------------------------------------*/

/* Enleve le FR moche */
#country-code.style-scope.ytd-topbar-logo-renderer {
  display: none;
}

/* enlevent le popup AdBlock */
popup.ytd-popup-container {
  display: none !important;
}

popup.tp-yt-iron-overlay-backdrop {
  display: none !important;
}

popup.tp-yt-paper-dialog {
  display: none !important;
}