/*
|--- Fond ---|
*/
.ObjetInterfaceEspaceEdT { /*Svg de fond*/
  position: relative; /* Essentiel pour positionner le ::before pseudo-élément */
  width: 200vh;
  height: 200vh;
  background-color: #151515 !important;
  background-image: url("https://raw.githubusercontent.com/OthonIV/Evangelion-Mod-1/main/Images/OmnesEducation/7Eyes%20Slim.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: relative;
  z-index: 1;
}


.ObjetInterfaceEspaceEdT::before { /*Gradient*/
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: linear-gradient(
    65deg,
    #ffaa00, #ff0000
  );
  animation: aniGradient 12s linear infinite;
  background-size: 500%;

  opacity: 1;
  z-index: 0;

  /* Masque SVG */
  mask-image: url("https://raw.githubusercontent.com/OthonIV/Evangelion-Mod-1/main/Images/OmnesEducation/7Eyes%20Slim.svg");
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: relative;
}

/* Animation du gradient */
@keyframes aniGradient {
  0%   { background-position: 0% 50%; }
  50%  { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

/*
|--- 3eme Bandeau ---|
*/
.objetBandeauEntete_thirdmenu { /*Couleur de fond*/
    background-color: #151515 !important;
}

.objetBandeauEntete_thirdmenu .titre-onglet { /*Couleur texte "En grille/liste/planning"*/
    color: #ffffff !important;
}
/*Icônes*/
.filtres-conteneur .icon_fiche_T.mix-icon_link.bt-activable.btnImage { /*Couleur icône "Afficher les cours des autres promotions/TD/Options liés aux TD/Options affichés"*/
    background-color: #ddb559 !important; 
    color: #151515 !important;
}
.filtres-conteneur .icon_fiche_T.mix-icon_link.bt-activable.btnImage {
  text-shadow:-1px 0 #ddb559, 0 1px #dd9059, 1px 0 #dd6f59, 0 -1px #df644b !important;
}
.filtres-conteneur .icon_afficher_cours_TD_plus_TD.bt-activable.btnImage { /*Couleur icône "Afficher les cours des TD/options liés au sein de la promotion"*/
    background-color: #dd9059 !important; 
    color: #151515 !important;
}
.filtres-conteneur .icon_afficher_cours_TD_plus_promo.bt-activable.btnImage {
    background-color: #dd6f59 !important; 
    color: #151515 !important;
}

.objetBandeauEntete_thirdmenu .bt-activable.icon_cog.btnImage { /*Couleur icône paramètres*/
    background-color: #dd6f59 !important; 
    color: #151515 !important;
}
.objetBandeauEntete_thirdmenu .bt-activable.icon_cog.btnImage:hover { /*Couleur icône paramètres au Hover*/
    background-color: transparent !important; 
    color: #dd6f59 !important;
}

/*Menu nom*/
.objetBandeauEntete_thirdmenu .input-wrapper .ocb_cont.as-input.as-select.ie-ripple:hover { /*Couleur bordure du nom au Hover*/
    border-color: #c91b21 !important;
}
.objetBandeauEntete_thirdmenu .input-wrapper .ocb_bouton { /*Couleur icône à droite du nom*/
    color: #c91b21 !important;
}
.objetBandeauEntete_thirdmenu .input-wrapper .ocb_bouton:hover { /*Couleur icône à droite du nom au Hover*/
    color: #882d14 !important;
}

.objetBandeauEntete_thirdmenu .ObjetSaisie_cont .deroulant-conteneur-show-hide { /*Couleurs menu déroulant*/
  background: rgba(40, 40, 40, 0.5) !important;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}
.objetBandeauEntete_thirdmenu .ObjetSaisie_cont .as-li.c_1.selected { /*Couleurs de l'élément au Hover*/
  background: rgba(216, 216, 216, 0.5) !important;
}

/*
|--- 4eme Bandeau ---|
*/
/*Gauche*/
.calendrier.hide .ocb_cont.as-input.as-select.ie-ripple { /*Bordure type calendrier*/
  border-color: #c91b21 !important;
}
.calendrier.hide .input-wrapper .ocb_bouton { /*Couleur icône à droite du type*/
    color: #c91b21 !important;
}
.calendrier.hide .input-wrapper .ocb_bouton:hover { /*Couleur icône à droite du type au Hover*/
    color: #882d14 !important;
}

.calendrier.hide .deroulant-conteneur-show-hide { /*Couleurs menu déroulant*/
  background: rgba(40, 40, 40, 0.5) !important;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}
.calendrier.hide .deroulant-conteneur-show-hide .as-li.c_1.selected { /*Couleurs de l'élément au Hover*/
  background: rgba(216, 216, 216, 0.5) !important;
}

/*Jours*/
.calendrier.hide .ie-draggable-handle.tableJours {
    background-color: #ffffff !important; /*Couleur de fond*/
    border: black;
}
.calendrier.hide .Calendrier_Jour_td { /*Couleur des jours*/
    border-color: #ffffff !important;
}
.calendrier.hide .calendrier-jour.ie-draggable-handle { /*Couleur du jour sélectionné*/
    background: #991c20 !important;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px inset !important;
    color: #ffffff !important;
}
.calendrier.hide .calendrier-jour-domaine { /*Couleur petit carré du dessous*/
    background-color: #151515 !important;
    border-top: #ffffff !important;
}
/*Mois*/
.calendrier.hide .tableMois, .calendrier.hide .Texte10.Gras.FondBlanc.Calendrier_Mois { /*Couleur mois*/
    border-color: #ffffff !important;
    background-color: #151515 !important;
    color: #ffffff !important;
}

/*
|--- Calendrier ---|
*/
.grille .InlineBlock.WhiteSpaceNormal.AlignementMilieuVertical.AlignementMilieu { /*Couleur texte jours*/
  color: #ffffff !important;
}
.grille .AlignementDroit.PetitEspaceDroit { /*Couleur texte heures*/
  color: #ffffff !important;
}