/*
II) 3eme Bandeau
*/
.objetBandeauEntete_thirdmenu { /*Couleur de fond*/
    background-color: #151515 !important;
}

.objetBandeauEntete_thirdmenu .titre-onglet { /*Couleur texte de "En grille ; liste ; planning"*/
    color: #ffffff !important;
}

/*II) 1) Menu nom*/
.objetBandeauEntete_thirdmenu .input-wrapper .ocb_cont.as-input.as-select.ie-ripple:hover { /*Couleur bordure du nom au Hover*/
    border-color: #c91b21 !important;
}
.objetBandeauEntete_thirdmenu .input-wrapper .ocb_bouton { /*Couleur icône à droite du nom "v"*/
    color: #c91b21 !important;
}
.objetBandeauEntete_thirdmenu .input-wrapper .ocb_bouton:hover { /*Couleur icône à droite du nom au Hover*/
    color: #882d14 !important;
}
/*II) 1) A) Menu déroulant*/
.objetBandeauEntete_thirdmenu .ObjetSaisie_cont .deroulant-conteneur-show-hide { /*Couleur du fond*/
  background: rgba(40, 40, 40, 0.5) !important;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}
.objetBandeauEntete_thirdmenu .ObjetSaisie_cont .liste-as-options * { /*Couleur du texte */
  color: #ffffff !important;
}
.objetBandeauEntete_thirdmenu .ObjetSaisie_cont .as-li.c_1.selected { /*Couleur de l'élément au Hover*/
  background: rgba(216, 216, 216, 0.5) !important;
}

/*II) 2) Icônes*/
.filtres-conteneur .icon_fiche_T.mix-icon_link.bt-activable.btnImage { /*Couleur icône "Afficher les cours des autres promotions/TD/Options liés aux TD/Options affichés"*/
    background-color: #ddb559 !important;
    --stroke-color: #ddb559 !important;
    color: #151515 !important;
}
.filtres-conteneur .icon_afficher_cours_TD_plus_TD.bt-activable.btnImage { /*Couleur icône "Afficher les cours des TD/options liés au sein de la promotion"*/
    background-color: #dd9059 !important; 
    color: #151515 !important;
}
.filtres-conteneur .icon_afficher_cours_TD_plus_promo.bt-activable.btnImage { /*Couleur icône "Afficher les cours de la promotion"*/
    background-color: #dd6f59 !important; 
    color: #151515 !important;
}
.filtres-conteneur .icon_afficher_cours_promo_plus_TD.bt-activable.btnImageSelection.btnImage { /*Couleur icône "Masquer les cours de TD et d'option"*/
    background-color: #dd9059 !important;
    color: #151515 !important;
}

.objetBandeauEntete_thirdmenu .bt-activable.icon_cog.btnImage { /*Couleur icône paramètres*/
    background-color: #dd6f59 !important; 
    color: #151515 !important;
}
.objetBandeauEntete_thirdmenu .bt-activable.icon_cog.btnImage:hover { /*Couleur icône paramètres au Hover*/
    background-color: transparent !important; 
    color: #dd6f59 !important;
}



/*
III) 4eme Bandeau
*/
/*III) 1) Type*/
.calendrier.hide .ocb_cont.as-input.as-select.ie-ripple { /*Bordure type calendrier*/
  border-color: #c91b21 !important;
}
.calendrier.hide .input-wrapper .ocb_bouton { /*Couleur icône "v" à droite du type*/
    color: #c91b21 !important;
}
.calendrier.hide .input-wrapper .ocb_bouton:hover { /*Couleur icône "v" à droite du type au Hover*/
    color: #882d14 !important;
}

/*III) 1) A) Menu déroulant*/
.calendrier.hide .deroulant-conteneur-show-hide { /*Couleur du fond*/
  background: rgba(40, 40, 40, 0.5) !important;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}
.calendrier.hide .deroulant-conteneur-show-hide .liste-as-options * { /*Couleur du texte */
  color: #ffffff !important;
}
.calendrier.hide .deroulant-conteneur-show-hide .as-li.c_1.selected { /*Couleur de l'élément au Hover*/
  background: rgba(216, 216, 216, 0.5) !important;
}

/*III) 2) Jours*/
.calendrier.hide .ie-draggable-handle.tableJours { /*Couleur des petits contours moches et relous*/
    background-color: #ffffff !important; 
    border: black;
}
.calendrier.hide .Calendrier_Jour_td { /*Couleur séparateurs des semaines*/
    border-color: #ffffff !important;
}
.calendrier.hide .calendrier-jour.ie-draggable-handle { /*Couleur des semaines*/
    background: #991c20 !important;
    box-shadow: rgba(0, 0, 0, 0.507) 0px 3px 15px inset !important;
    color: #ffffff !important;
}
.calendrier.hide .calendrier-jour-domaine { /*Couleur petit carré du dessous*/
    background-color: #151515 !important;
    border-top: #ffffff !important;
}

/*III) 3) Mois*/
.calendrier.hide .tableMois, .calendrier.hide .Texte10.Gras.FondBlanc.Calendrier_Mois { /*Couleur mois*/
    border-color: #ffffff !important;
    background-color: #151515 !important;
    color: #ffffff !important;
}