/*
I) Fonds
  - Couleur de fond
  - Contour du fond
II) 3eme Bandeau
  - Couleur de fond
  - Couleur texte éléments du bandeau déroulant
  1) Menu nom
    - Couleur bordure du nom au Hover
    - Couleur icône à droite du nom
    - Couleur icône à droite du nom au Hover
    A) Menu déroulant
      - Couleur du fond
      - Couleur du texte
      - Couleur de l'élément au Hover
  2) Icônes
    - Couleur icône "Afficher les cours des autres promotions/TD/Options liés aux TD/Options affichés"
    - Couleur icône "Afficher les cours des TD/options liés au sein de la promotion"
    - Couleur icône "Afficher les cours de la promotion"
    - Couleur icône "Masquer les cours de TD et d'option"
    - Couleur icône paramètres
    - Couleur icône paramètres au Hover
III) 4eme Bandeau
  1) Gauche
    - Bordure type calendrier
    - Couleur icône "v" à droite du type
    - Couleur icône "v" à droite du type au Hover
    A) Menu déroulant
      - Couleur du fond
      - Couleur du texte
      - Couleur de l'élément au Hover
  2) Jours
    - Couleur des petits contours moches et relous
    - Couleur séparateurs des semaines
    - Couleur des semaines
    - Couleur petit carré du dessous
  3) Mois
    - Couleur mois
IV) Calendrier
  1) Extérieur
    - Couleur texte jours
    - Couleur texte heures
  2) Calendrier (intérieur)
    - Couleur bordure heure sélectionnée pour ouvrir la fenêtre des séances publiées
    A) Fenêtre séances publiées
    - Couleur de fond & d'ombre
    - Couleur texte entête
    - Couleur texte
    - Contenu
    - Contenu, exceptions pour éviter les fonds se superposant
*/



/*
I) Fonds
*/
.interface_affV_client .ObjetInterfaceEspaceEdT .principal { /*Couleur de fond*/
    background: linear-gradient(135deg, #53090c,#121212, #53090c) !important;
    z-index: 1 !important;
}
.ObjetInterfaceEspaceEdT { /*Contour du fond*/
  background-color: #151515 !important;
}


/*
II) 3eme Bandeau
*/
.objetBandeauEntete_thirdmenu { /*Couleur de fond*/
    background-color: #151515 !important;
}

.objetBandeauEntete_thirdmenu .titre-onglet { /*Couleur texte de "En grille ; liste ; planning"*/
    color: #ffffff !important;
}

/*II) 1) Menu nom*/
.objetBandeauEntete_thirdmenu .input-wrapper .ocb_cont.as-input.as-select.ie-ripple:hover { /*Couleur bordure du nom au Hover*/
    border-color: #c91b21 !important;
}
.objetBandeauEntete_thirdmenu .input-wrapper .ocb_bouton { /*Couleur icône à droite du nom "v"*/
    color: #c91b21 !important;
}
.objetBandeauEntete_thirdmenu .input-wrapper .ocb_bouton:hover { /*Couleur icône à droite du nom au Hover*/
    color: #882d14 !important;
}
/*II) 1) A) Menu déroulant*/
.objetBandeauEntete_thirdmenu .ObjetSaisie_cont .deroulant-conteneur-show-hide { /*Couleur du fond*/
  background: rgba(40, 40, 40, 0.5) !important;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}
.objetBandeauEntete_thirdmenu .ObjetSaisie_cont .liste-as-options * { /*Couleur du texte */
  color: #ffffff !important;
}
.objetBandeauEntete_thirdmenu .ObjetSaisie_cont .as-li.c_1.selected { /*Couleur de l'élément au Hover*/
  background: rgba(216, 216, 216, 0.5) !important;
}

/*II) 2) Icônes*/
.filtres-conteneur .icon_fiche_T.mix-icon_link.bt-activable.btnImage { /*Couleur icône "Afficher les cours des autres promotions/TD/Options liés aux TD/Options affichés"*/
    background-color: #ddb559 !important;
    --stroke-color: #ddb559 !important;
    color: #151515 !important;
}
.filtres-conteneur .icon_afficher_cours_TD_plus_TD.bt-activable.btnImage { /*Couleur icône "Afficher les cours des TD/options liés au sein de la promotion"*/
    background-color: #dd9059 !important; 
    color: #151515 !important;
}
.filtres-conteneur .icon_afficher_cours_TD_plus_promo.bt-activable.btnImage { /*Couleur icône "Afficher les cours de la promotion"*/
    background-color: #dd6f59 !important; 
    color: #151515 !important;
}
.filtres-conteneur .icon_afficher_cours_promo_plus_TD.bt-activable.btnImageSelection.btnImage { /*Couleur icône "Masquer les cours de TD et d'option"*/
    background-color: #dd9059 !important;
    color: #151515 !important;
}

.objetBandeauEntete_thirdmenu .bt-activable.icon_cog.btnImage { /*Couleur icône paramètres*/
    background-color: #dd6f59 !important; 
    color: #151515 !important;
}
.objetBandeauEntete_thirdmenu .bt-activable.icon_cog.btnImage:hover { /*Couleur icône paramètres au Hover*/
    background-color: transparent !important; 
    color: #dd6f59 !important;
}


/*
III) 4eme Bandeau
*/
/*III) 1) Type*/
.calendrier.hide .ocb_cont.as-input.as-select.ie-ripple { /*Bordure type calendrier*/
  border-color: #c91b21 !important;
}
.calendrier.hide .input-wrapper .ocb_bouton { /*Couleur icône "v" à droite du type*/
    color: #c91b21 !important;
}
.calendrier.hide .input-wrapper .ocb_bouton:hover { /*Couleur icône "v" à droite du type au Hover*/
    color: #882d14 !important;
}

/*III) 1) A) Menu déroulant*/
.calendrier.hide .deroulant-conteneur-show-hide { /*Couleur du fond*/
  background: rgba(40, 40, 40, 0.5) !important;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}
.calendrier.hide .deroulant-conteneur-show-hide .liste-as-options * { /*Couleur du texte */
  color: #ffffff !important;
}
.calendrier.hide .deroulant-conteneur-show-hide .as-li.c_1.selected { /*Couleur de l'élément au Hover*/
  background: rgba(216, 216, 216, 0.5) !important;
}

/*III) 2) Jours*/
.calendrier.hide .ie-draggable-handle.tableJours { /*Couleur des petits contours moches et relous*/
    background-color: #ffffff !important; 
    border: black;
}
.calendrier.hide .Calendrier_Jour_td { /*Couleur séparateurs des semaines*/
    border-color: #ffffff !important;
}
.calendrier.hide .calendrier-jour.ie-draggable-handle { /*Couleur des semaines*/
    background: #991c20 !important;
    box-shadow: rgba(0, 0, 0, 0.507) 0px 3px 15px inset !important;
    color: #ffffff !important;
}
.calendrier.hide .calendrier-jour-domaine { /*Couleur petit carré du dessous*/
    background-color: #151515 !important;
    border-top: #ffffff !important;
}

/*III) 3) Mois*/
.calendrier.hide .tableMois, .calendrier.hide .Texte10.Gras.FondBlanc.Calendrier_Mois { /*Couleur mois*/
    border-color: #ffffff !important;
    background-color: #151515 !important;
    color: #ffffff !important;
}

/*
IV) Calendrier
*/
/*IV) 1) Extérieur*/
.grille .InlineBlock.WhiteSpaceNormal.AlignementMilieuVertical.AlignementMilieu { /*Couleur texte jours*/
  color: #ffffff !important;
}
.grille .AlignementDroit.PetitEspaceDroit { /*Couleur texte heures*/
  color: #ffffff !important;
}

/*IV) 2) Calendrier (intérieur)*/
.selectionCoursGrille .cadre { /*Couleur bordure heure sélectionnée pour ouvrir la fenêtre des séances publiées*/
  border-color: #c91b21 !important;
}

/*IV) 2) A) Fenêtre séances publiées*/

.ObjetFenetre_Espace.ObjetFicheDetailSeances_racine .Fenetre_Cadre.ombre-cadre{ /*Couleur de fond & d'ombre*/
  background-color: #140a0af3 !important;
  box-shadow: 0px 0px 18px 6px rgb(70, 70, 70) !important;
}

.ObjetFenetre_Espace.ObjetFicheDetailSeances_racine .AvecMove.ie-draggable-handle { /*Couleur texte entête*/
  color: #ffffff !important;
}
.ObjetFenetre_Espace.ObjetFicheDetailSeances_racine .EspaceBas { /*Couleur texte*/
  color: #ffffff !important;
}

.ObjetFenetre_Espace.ObjetFicheDetailSeances_racine .full-width.cellpadding-3 * { /*Contenu*/
  background-color: #991c2023 !important;
  color: #ffffff !important;
}
.ObjetFenetre_Espace.ObjetFicheDetailSeances_racine .full-width.cellpadding-3 .teams *,
.ObjetFenetre_Espace.ObjetFicheDetailSeances_racine .full-width.cellpadding-3 .sws *,
.ObjetFenetre_Espace.ObjetFicheDetailSeances_racine .full-width.cellpadding-3 .hp * { /*Contenu, exceptions pour éviter les fonds se superposant*/
  background-color: transparent !important;
  color: #ffffff !important;
}