/*
I) Fonds
  - Couleur de fond
  - Contour du fond
II) 3eme Bandeau
  - Couleur de fond
  - Couleur texte éléments du bandeau déroulant
  1) Menu nom
    - Couleur bordure du nom au Hover
    - Couleur icône à droite du nom
    - Couleur icône à droite du nom au Hover
    A) Menu déroulant
      - Couleur du fond
      - Couleur du texte
      - Couleur de l'élément au Hover
  2) Icônes
    - Couleur icône "Afficher les cours des autres promotions/TD/Options liés aux TD/Options affichés"
    - Couleur icône "Afficher les cours des TD/options liés au sein de la promotion"
    - Couleur icône "Afficher les cours de la promotion"
    - Couleur icône "Masquer les cours de TD et d'option"
    - Couleur icône paramètres
    - Couleur icône paramètres au Hover
III) 4eme Bandeau
  1) Gauche
    - Bordure type calendrier
    - Couleur icône "v" à droite du type
    - Couleur icône "v" à droite du type au Hover
    A) Menu déroulant
      - Couleur du fond
      - Couleur du texte
      - Couleur de l'élément au Hover
  2) Jours
    - Couleur des petits contours moches et relous
    - Couleur séparateurs des semaines
    - Couleur des semaines
    - Couleur petit carré du dessous
  3) Mois
    - Couleur mois
IV) Calendrier
  1) Extérieur
    - Couleur texte jours
    - Couleur texte heures
  2) Calendrier (intérieur)
    - Couleur bordure heure sélectionnée pour ouvrir la fenêtre des séances publiées
    A) Fenêtre séances publiées
    - Couleur de fond & d'ombre
    - Couleur texte entête
    - Couleur texte
    - Contenu
    - Contenu, exceptions pour éviter les fonds se superposant
*/



/*
I) Fonds
*/
body:has(.titre-onglet[aria-label="en grille"])
 .interface_affV_client .ObjetInterfaceEspaceEdT .principal { /*Couleur de fond*/
    background: linear-gradient(135deg, #53090c,#121212, #53090c) !important;
    z-index: 1 !important;
}
body:has(.titre-onglet[aria-label="en grille"])
 .ObjetInterfaceEspaceEdT { /*Contour du fond*/
  background-color: #151515 !important;
}


/*
IV) Calendrier
*/
/*IV) 1) Extérieur*/
body:has(.titre-onglet[aria-label="en grille"])
 .grille .InlineBlock.WhiteSpaceNormal.AlignementMilieuVertical.AlignementMilieu { /*Couleur texte jours*/
  color: #ffffff !important;
}
body:has(.titre-onglet[aria-label="en grille"])
 .grille .AlignementDroit.PetitEspaceDroit { /*Couleur texte heures*/
  color: #ffffff !important;
}

/*IV) 2) Calendrier (intérieur)*/
body:has(.titre-onglet[aria-label="en grille"])
 .selectionCoursGrille .cadre { /*Couleur bordure heure sélectionnée pour ouvrir la fenêtre des séances publiées*/
  border-color: #c91b21 !important;
}

/*IV) 2) A) Fenêtre séances publiées*/

body:has(.titre-onglet[aria-label="en grille"])
 .ObjetFenetre_Espace.ObjetFicheDetailSeances_racine .Fenetre_Cadre.ombre-cadre{ /*Couleur de fond & d'ombre*/
  background-color: #140a0af3 !important;
  box-shadow: 0px 0px 18px 6px rgb(70, 70, 70) !important;
}

body:has(.titre-onglet[aria-label="en grille"])
 .ObjetFenetre_Espace.ObjetFicheDetailSeances_racine .AvecMove.ie-draggable-handle { /*Couleur texte entête*/
  color: #ffffff !important;
}
body:has(.titre-onglet[aria-label="en grille"])
 .ObjetFenetre_Espace.ObjetFicheDetailSeances_racine .EspaceBas { /*Couleur texte*/
  color: #ffffff !important;
}

body:has(.titre-onglet[aria-label="en grille"])
 .ObjetFenetre_Espace.ObjetFicheDetailSeances_racine .full-width.cellpadding-3 * { /*Contenu*/
  background-color: #991c2023 !important;
  color: #ffffff !important;
}
body:has(.titre-onglet[aria-label="en grille"])
 .ObjetFenetre_Espace.ObjetFicheDetailSeances_racine .full-width.cellpadding-3 .teams *,
body:has(.titre-onglet[aria-label="en grille"])
 .ObjetFenetre_Espace.ObjetFicheDetailSeances_racine .full-width.cellpadding-3 .sws *,
body:has(.titre-onglet[aria-label="en grille"])
 .ObjetFenetre_Espace.ObjetFicheDetailSeances_racine .full-width.cellpadding-3 .hp * { /*Contenu, exceptions pour éviter les fonds se superposant*/
  background-color: transparent !important;
  color: #ffffff !important;
}