/*
|--- 3eme Bandeau ---|
*/
.objetBandeauEntete_thirdmenu .Gras { /*Couleur texte "du" , "au"*/
  color: #ffffff !important;
}

/*
|--- Tableau ---|
*/
.full-height .as-header * { /*Couleur haut*/
  background-color: #140a0aed !important; 
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(6px);
  box-shadow: 1px 1px 8px 1px rgba(155, 155, 155, 0.2);
  color: #d3d3d3 !important;
}

.full-height .AvecMain * { /*Couleur fond tableau*/
  background-color: #140a0aed !important; 
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(6px);
  box-shadow: 1px 1px 8px 1px rgba(155, 155, 155, 0.2);
  color: #d3d3d3 !important;
}

.full-height .full-width * { /*Couleur fond sous sections du tableau*/
  background-color: #392727ed !important; 
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(6px);
  box-shadow: 1px 1px 3px 1px rgba(169, 169, 169, 0.6);
  color: #d3d3d3 !important;
}